@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


/*Titulo do faq*/

.titulo-faq {
  margin-top: 90px;
  width: 100%;
  height: 80px;
  background-color: var(--surface-2-escura);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-faq-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img-faq img {
  height: 50px;
}

.faq-titulo {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-header);
}

/*Perguntas*/

.perguntas-faq {
  margin: 50px 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.perguntas-faq-container {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.respostas {
  width: 100%;
  height: auto;
  border: 3px solid var(--surface-2-escura);
  text-align: justify;
  cursor: pointer;
  padding: 0px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.respostas:hover {
  border: 3px solid var(--text-quartiary);
  border-radius: 40px;
  transform: scale(1.05);
}

.respostas summary {
  padding: 24px 30px;
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  list-style: none;
  outline: none;
}

.respostas p {
  padding: 0 30px 24px 30px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-three);
  text-align: justify;
}

.linha-faq {
  display: block;
  width: 100vw;
  height: 10px;
  background-color: var(--color-primary);
}

/*Contatos*/

.contatos {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contatos-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.titulo-contatos {
  font-family: 'Merriweather', serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
}

.contatostxt {
  display: flex;
  gap: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  font-weight: 650;
  color: var(--text-three);
  border-bottom: 2px solid var(--text-one);
  padding-bottom: 5px;
}

/*Termos de uso*/

.termos {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.termos-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-termos {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary);
  text-align: center;
}

.termos-uso {
  margin-top: 25px;
  width: 900px;
  border-top: 3px solid var(--text-one);
  padding-top: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  font-weight: 650;
  color: var(--text-four);
  text-align: justify;
  line-height: 1.5;
}

.termos-uso strong {
  font-size: 1.5rem;
}

/*Politica*/

.politica {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.politica-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo-politica {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary);
  text-align: center;
}

.politicatxt {
  margin-top: 25px;
  width: 900px;
  border-bottom: 3px solid var(--text-one);
  padding-bottom: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
  font-weight: 650;
  color: var(--text-four);
  text-align: justify;
  line-height: 1.5;
}

.politicatxt strong {
  font-size: 1.5rem;
}

/*Footer*/

.footer {
  background-color: var(--surface-2);
}

.footer-container {
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer-container .txtlogo {
  align-self: center;
  justify-self: center;
  padding-top: 6px;
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-header);
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 37px;
}

.logo-footer img {
  width: 78.27px;
  height: 47.35px;
}

.nav-footer {
  display: grid;
  align-items: center;
  justify-content: center;
}

.linkUm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 40px;
}

.linkDois {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 22px;
}

.nav-footer a {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  text-decoration: underline 2px transparent;
  text-underline-offset: 4px;
  color: var(--text-header);
  transition: 0.3s;
}

.nav-footer a:hover {
  text-decoration: underline 2px var(--text-header);
}

.nav-footer a img {
  height: 50px;
  width: 50px;
  transition: 0.4s ease;
}

.nav-footer a img:hover {
  transform: scale(1.3);
}

.linha-footer {
  display: inline-block;
  width: 100vw;
  height: 2px;
  background-color: var(--text-header);
  margin: 5px;
}

.footer-container .copi {
  justify-self: center;
}

.copi {
  font-family: 'Merriweather', serif;
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--text-header);
}
