google-button {
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

google-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 12px 24px;
  border: 1px solid var(--text-two);
  border-radius: 50px;
  color: var(--text-primary);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

google-button button:hover {
  background-color: lightgray;
}
